<!DOCTYPE html>
<html>
<head>
    <title><%= "#{@title} &mdash; " if @title %>To Do List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link type="text/css" media="screen" rel="stylesheet" href="reset.css" />
    <link type="text/css" media="screen" rel="stylesheet" href="style.css" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="date.js"></script>
</head>
<body>
    <% if flash[:notice] %>
    <p><strong><%= flash[:notice] %></strong></p>
    <% end %>
    <%= yield %>
</body>
</html>
