    <script type="text/javascript">
      function check() {
              $('ul.tasks input:checked').ready(function() {
                      $('ul.tasks input:checked').next().addClass('strike');
              });
              $('ul.tasks input').click(function() {
                      if (!$(this).attr('checked')) {
                              $(this).next().removeClass('strike');
                              $.post("task/update",  { id: $(this).parent().attr('id'), status: false });
                      }
                      else {
                              $(this).next().addClass('strike');
                              $.post("task/update",  { id: $(this).parent().attr('id'), status: true });
                      }
          });
              $('ul.tasks i').click(function() {
                $(this).parent().remove();
                $.post("task/delete",  { id: $(this).parent().attr('id') });
                });
      $('ul.tasks li').hover(function(e) {
            e.preventDefault();
            $(this).find('i').addClass('delete');
          }, function(e){
                  e.preventDefault();
                      $(this).find('i').removeClass('delete');
              });
      }
	
      $(function() {
              $('.date-pick').datepicker({ dateFormat: 'yy-mm-dd', });
              var task = '<li><input type="checkbox" class="test" /> <em></em> <i></i><span></span></li>';
                      $('span.new-task').click(function() {
                              if ($(this).prev().prev().val() == '') {
                                      $('#error').fadeIn(200);
                                      return false;
                              }
                              release = $('.date-pick').datepicker({ dateFormat: 'yy-mm-dd', minDate: 0 }).val();
                              $.post("task/new",  { body: $(this).prev().prev().val(), 
                                                    release_date: release,
                                                    status: false });
                              $('#error').hide();
                              $('ul.tasks').prepend(task);
                              $('ul.tasks li:first span').html($(this).prev().val());
                              $('ul.tasks li:first em').html($(this).prev().prev().val());
                              $(this).prev().prev().val('');
                              check();
                  });
              check();
          });

          $(document).ready(function() {
            $('ul.tasks li').each(function() {
            var parts = $(this).find('span').text().split('-');
                if (parts != '') {
                    var current = new Date();
                    var today = new Date(current.getFullYear(), current.getMonth(), current.getDate());
                    var deadline = new Date(parts[0], parts[1]-1, parts[2]);
                    var diff =  Math.floor((today - deadline) / 86400000);
                    var box = !$(this).children().attr('checked');
                    if (parts != '' && diff > 0 && box) {
                        $(this).insertBefore('ul.tasks li:first');
                        if ( diff >= 1 && diff < 3) { $(this).addClass('delay1'); }
                        else if ( diff > 2 && diff <= 5) { $(this).addClass('delay2'); }
                        else if ( diff >= 6 ){ $(this).addClass('delay3'); }
                    }
                }
            });  
            });
    </script>
	
	<div id="wrapper">
		<h1><img src="todo.png" alt="TO DO LIST:" /></h1>
		<div id="add-task">
			<input type="text" value="" class="add" />
			<input type="text" value="" class="date-pick task-date" />
			<span class="new-task">Add new task</span>
		</div>
		<div id="error">Please, enter the text of your task.</div>
		
		<ul class="tasks">
                  <% user =User.first(:id => get_userid) %>
                  <% user.tasks.reverse_each do |task| %>
                    <li id="<%= task.id %>">
                      <input type="checkbox" 
                        <% if task.status == true %>
                          checked="checked"
                        <% end %> 
                      /> 
                      <em><%= task.body %></em> <i></i>
                      <span><%= task.release_date if task.release_date.to_s != '3000-10-10' %></span> 
                    </li>
                  <% end %>
		</ul>
	</div>
        <div id="logout">
          <p>You are logged in. You may <a href="/login">log out</a></p>
        </div>
