    <script type="text/javascript">
      function check() {
              $('ul.tasks input:checked').ready(function() {
                      $('ul.tasks input:checked').next().addClass('strike');
              });
              $('ul.tasks input').click(function() {
                      $(this).next().addClass('strike');
                      if (!$(this).attr('checked')) {
                              $(this).next().removeClass('strike');
                      }
          });
              $('ul.tasks i').click(function() {
              $(this).parent().remove();
      });
      $('ul.tasks li').hover(function(e) {
            e.preventDefault();
            $(this).find('i').addClass('delete');
          }, function(e){
                  e.preventDefault();
                      $(this).find('i').removeClass('delete');
              });
      }
	
      $(function() {
              $('.date-pick').datepicker({ dateFormat: 'yy-mm-dd', minDate: 0 });
              var task = '<li><input type="checkbox" class="test" /> <em></em> <i></i><span></span></li>';
                      $('span.new-task').click(function() {
                              if ($(this).prev().prev().val() == '') {
                                      $('#error').fadeIn(200);
                                      return false;
                              }
                              release = $('.date-pick').datepicker({ dateFormat: 'yy-mm-dd', minDate: 0 }).val();
                              $.post("task/new",  { body: $(this).prev().prev().val(), 
                                                    /*release_date.strftime("%Y-%m-%d"): release,*/
                                                    status: true });
                              $('#error').hide();
                              $('ul.tasks').prepend(task);
                              $('ul.tasks li:first span').html($(this).prev().val());
                              $('ul.tasks li:first em').html($(this).prev().prev().val());
                              $(this).prev().prev().val('');
                              check();
                  });
              check();
          });
    </script>
	
	<div id="wrapper">
		<h1><img src="todo.png" alt="TO DO LIST:" /></h1>
		<div id="add-task">
			<input type="text" value="" class="add" />
			<input type="text" value="" class="date-pick task-date" />
			<span class="new-task">Add new task</span>
		</div>
		<div id="error">Please, enter the text of your task.</div>
		
		<ul class="tasks">
                  <% user =User.first(:id => get_userid) %>
                  <% user.tasks.reverse_each do |task| %>
                    <li>
                      <input type="checkbox" <% if task.status == true %>checked="checked"<% end %> /> <em><%= task.body %></em> <i></i>
                      <span><%= task.status %></span> 
                    </li>
                  <% end %>
		</ul>
	</div>
        <div id="logout">
          <p>You are logged in. You may <a href="/login">log out</a></p>
        </div>
